@charset "UTF-8";
body {
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  overflow-x: hidden;
}

body.fixed {
  width: 100%;
}

#offline {
  overflow-x: hidden;
  color: #333;
}
#offline .sp {
  display: none;
}
#offline section {
  margin-top: 120px;
  position: relative;
}
#offline .inner {
  width: 950px;
  margin: 0 auto;
  position: relative;
}
#offline .bold {
  font-weight: 700;
}
#offline h2 {
  text-align: center;
  margin-bottom: 60px;
}
#offline p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  #offline .link__top a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #4cc4fd;
    border-radius: 50%;
    transition: opacity 0.2s;
  }
  #offline .link__top a:hover {
    opacity: 0.75;
  }
  #offline .link__top {
    position: fixed;
    z-index: 98;
    right: 20px;
    bottom: 200px;
    width: 52px;
    height: 52px;
    display: none;
    opacity: 1;
    pointer-events: auto;
    transition: bottom 0.2s;
  }
  #offline .link__top.upper {
    bottom: 260px;
  }
}
@media screen and (max-width: 767px) {
  #offline .pc {
    display: none;
  }
  #offline .sp {
    display: inherit;
  }
  #offline section {
    margin-top: calc(100 / 750 * 100vw);
    padding: 0 calc(40 / 750 * 100vw);
    position: relative;
  }
  #offline .inner {
    width: 100%;
  }
  #offline h2 {
    margin-bottom: calc(60 / 750 * 100vw);
  }
  #offline h2 img {
    width: 100%;
  }
  #offline p {
    font-size: calc(28 / 750 * 100vw);
    line-height: 1.57;
  }
  #offline .link__top a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #4cc4fd;
    border-radius: 50%;
  }
  #offline .link__top a:hover {
    opacity: 1;
  }
  #offline .link__top {
    position: fixed;
    z-index: 98;
    right: 4vw;
    bottom: calc(320 / 750 * 100vw + 4vw);
    width: 52px;
    height: 52px;
    display: none;
    opacity: 1;
    pointer-events: auto;
    transition: bottom 0.2s;
  }
  #offline .link__top.upper {
    bottom: calc((320 + 100) / 750 * 100vw + 4vw);
  }
}
#offline nav {
  height: 70px;
  position: relative;
  z-index: 9;
}
#offline nav ul {
  width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#offline nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 5 - 1px);
  height: 70px;
  background-color: #fff;
  margin-right: 1px;
  position: relative;
  box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.17);
}
#offline nav li:last-of-type {
  margin-right: 0;
}
#offline nav li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 40px center;
  pointer-events: none;
}
#offline nav li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #18a8a8;
  padding-left: 50px;
  font-family: 'Noto Sans JP', sans-serif;
}
@media screen and (min-width: 768px) {
  #offline nav li {
    transition: background 0.3s;
  }
  #offline nav li:nth-of-type(1)::before {
    background-image: url("../img/pc/nav_icon_company.png");
  }
  #offline nav li:nth-of-type(2)::before {
    background-image: url("../img/pc/nav_icon_benefit.png");
  }
  #offline nav li:nth-of-type(3)::before {
    background-image: url("../img/pc/nav_icon_point.png");
  }
  #offline nav li:nth-of-type(4)::before {
    background-image: url("../img/pc/nav_icon_outline.png");
    background-position: left 30px center;
  }
  #offline nav li:nth-of-type(5)::before {
    background-image: url("../img/pc/nav_icon_faq.png");
    background-position: left 22px center;
  }
  #offline nav li:nth-of-type(1):hover::before {
    background-image: url("../img/pc/nav_icon_company_on.png");
  }
  #offline nav li:nth-of-type(2):hover::before {
    background-image: url("../img/pc/nav_icon_benefit_on.png");
  }
  #offline nav li:nth-of-type(3):hover::before {
    background-image: url("../img/pc/nav_icon_point_on.png");
  }
  #offline nav li:nth-of-type(4):hover::before {
    background-image: url("../img/pc/nav_icon_outline_on.png");
  }
  #offline nav li:nth-of-type(5):hover::before {
    background-image: url("../img/pc/nav_icon_faq_on.png");
  }
  #offline nav li:hover {
    background-color: #1856a8;
  }
  #offline nav li:hover a {
    color: #fff;
  }
  #offline nav.fixed ul {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  #offline nav {
    height: calc(150 / 750 * 100vw);
  }
  #offline nav ul {
    width: calc(100% - 40 / 750 * 100vw);
    margin: 0 auto;
  }
  #offline nav li {
    width: calc(100% / 5 - 1px);
    height: calc(150 / 750 * 100vw);
    margin-right: 1px;
    box-shadow: calc(4 / 750 * 100vw) calc(4 / 750 * 100vw) calc(6 / 750 * 100vw) calc(-2 / 750 * 100vw) rgba(0, 0, 0, 0.3);
  }
  #offline nav li:last-of-type {
    margin-right: 0;
  }
  #offline nav li:nth-of-type(1)::before {
    background-image: url("../img/sp/nav_icon_company.png");
    background-size: calc(55 / 750 * 100vw) auto;
    background-position: center top calc(20 / 750 * 100vw);
  }
  #offline nav li:nth-of-type(2)::before {
    background-image: url("../img/sp/nav_icon_benefit.png");
    background-size: calc(56 / 750 * 100vw) auto;
    background-position: center top calc(20 / 750 * 100vw);
  }
  #offline nav li:nth-of-type(3)::before {
    background-image: url("../img/sp/nav_icon_point.png");
    background-size: calc(61 / 750 * 100vw) auto;
    background-position: center top calc(17 / 750 * 100vw);
  }
  #offline nav li:nth-of-type(4)::before {
    background-image: url("../img/sp/nav_icon_outline.png");
    background-size: calc(67 / 750 * 100vw) auto;
    background-position: center top calc(26 / 750 * 100vw);
  }
  #offline nav li:nth-of-type(5)::before {
    background-image: url("../img/sp/nav_icon_faq.png");
    background-size: calc(62 / 750 * 100vw) auto;
    background-position: center top calc(15 / 750 * 100vw);
  }
  #offline nav li a {
    font-size: calc(20 / 750 * 100vw);
    padding-left: 0;
    padding-top: calc(80 / 750 * 100vw);
  }
  #offline nav.fixed ul {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
  }
}
#offline #mv {
  margin-top: -70px;
  background-color: #18a8a8;
  background-image: url("../images/mv_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top 50px;
  padding: 50px 0 0;
}
#offline #mv .inner {
  height: 820px;
}
#offline #mv .copy {
  position: absolute;
  top: 70px;
  left: 0;
}
#offline #mv h1 {
  position: absolute;
  top: 155px;
  left: 0;
}
#offline #mv h1 img {
  display: block;
}
#offline #mv .day {
  position: absolute;
  top: 462px;
  left: 0;
}
#offline #mv .point {
  position: absolute;
  top: 467px;
  left: 370px;
}
#offline #mv .present {
  position: absolute;
  top: 645px;
  left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 380px;
  height: 136px;
  border: 1px dotted #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #mv .present .small {
  font-size: 20px;
  line-height: 2;
}
#offline #mv .present em {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
#offline #mv .present::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -10px;
  background-image: url("../images/mv_giftcard.png");
  background-repeat: no-repeat;
  width: 125px;
  height: 102px;
  display: block;
}
#offline #mv .entry {
  position: absolute;
  top: 645px;
  right: -10px;
}
#offline #mv .entry .entrybtn {
  display: block;
  margin-bottom: 7px;
  position: relative;
}
#offline #mv .entry p {
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
}
#offline #mv .entry p a {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #offline #mv {
    min-width: 950px;
  }
  #offline #mv .entry .entrybtn::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 500px;
    height: 100px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    transition: opacity 0.2s;
    opacity: 0;
  }
  #offline #mv .entry .entrybtn:hover::before {
    opacity: 0.25;
  }
  #offline #mv .entry p a:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  #offline #mv {
    margin-top: calc(-150 / 750 * 100vw);
    background-image: url("../images/mv_bg.jpg");
    background-position: center top calc(100 / 750 * 100vw);
    background-size: 100% auto;
    padding: calc(100 / 750 * 100vw) 0 0;
  }
  #offline #mv .inner {
    height: calc(1570 / 750 * 100vw);
  }
  #offline #mv .copy {
    width: calc(582 / 750 * 100vw);
    top: calc(100 / 750 * 100vw);
    left: calc(40 / 750 * 100vw);
  }
  #offline #mv .copy img {
    width: 100%;
  }
  #offline #mv h1 {
    top: calc(200 / 750 * 100vw);
    left: calc(40 / 750 * 100vw);
    width: calc(408 / 750 * 100vw);
  }
  #offline #mv h1 img {
    width: 100%;
  }
  #offline #mv .day {
    top: calc(480 / 750 * 100vw);
    left: calc(40 / 750 * 100vw);
    width: calc(358 / 750 * 100vw);
  }
  #offline #mv .day img {
    width: 100%;
  }
  #offline #mv .point {
    top: calc(480 / 750 * 100vw);
    left: calc(403 / 750 * 100vw);
    width: calc(230 / 750 * 100vw);
  }
  #offline #mv .point img {
    width: 100%;
  }
  #offline #mv .present {
    top: calc(1020 / 750 * 100vw);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(554 / 750 * 100vw);
    height: calc(200 / 750 * 100vw);
    font-size: calc(30 / 750 * 100vw);
    line-height: 1.45;
  }
  #offline #mv .present .small {
    font-size: calc(28 / 750 * 100vw);
    line-height: 1.75;
  }
  #offline #mv .present em {
    font-size: calc(38 / 750 * 100vw);
  }
  #offline #mv .present::before {
    left: calc(-60 / 750 * 100vw);
    top: calc(-10 / 750 * 100vw);
    background-image: url("../images/mv_giftcard.png");
    background-size: contain;
    width: calc(180 / 750 * 100vw);
    height: calc(147 / 750 * 100vw);
  }
  #offline #mv .entry {
    top: calc(1265 / 750 * 100vw);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #offline #mv .entry .entrybtn {
    margin: 0 auto calc(7 / 750 * 100vw);
    width: calc(698 / 750 * 100vw);
    height: calc(168 / 750 * 100vw);
    transform: translateX(calc(8 / 750 * 100vw));
  }
  #offline #mv .entry .entrybtn img {
    width: 100%;
  }
}
#offline header .inner {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 1px;
}
#offline footer {
  background-color: #000;
}
#offline footer .inner {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#offline footer p {
  font-size: 14px;
  color: #fff;
}
#offline #lead {
  margin-top: 40px;
}
#offline #lead p {
  color: #009090;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #company h2 {
  margin-bottom: 60px;
}
#offline #company .soon {
  display: none;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
#offline #company .list {
  border-bottom: 2px solid #18a8a8;
  position: relative;
}
#offline #company .list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  height: 16px;
  display: block;
  background-image: url("../img/pc/company_shadow.png");
  background-repeat: no-repeat;
  z-index: 1;
}
#offline #company .update {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
#offline #company ul {
  margin-left: -5px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 5px * 2);
}
#offline #company ul li {
  width: calc((100% - 5px * 6) / 3);
  display: block;
  border: 1px solid #b5b5b5;
  background-color: #f8f8f8;
  margin: 0 5px 10px;
}
#offline #company ul li .company_logo {
  width: 100%;
  padding-top: calc(119 / 308 * 100%);
  position: relative;
  display: block;
  background-color: #fff;
}
#offline #company ul li .company_logo img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
#offline #company ul li .company_name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  border-top: 1px solid #b5b5b5;
  padding: 10px 25px;
  text-align: center;
}
#offline #company table {
  border-collapse: collapse;
  margin-bottom: 30px;
  display: none;
}
#offline #company td,
#offline #company th {
  border: 1px solid #b5b5b5;
}
#offline #company th {
  background-color: #515151;
  font-size: 14px;
  line-height: 1.47;
  color: #fff;
  text-align: center;
  height: 40px;
  letter-spacing: 0.1em;
  vertical-align: middle;
}
#offline #company td {
  font-size: 15px;
  line-height: 1.47;
  padding: 25px 30px;
  text-align: justify;
}
#offline #company td:first-of-type {
  font-weight: 700;
  width: 460px;
  padding: 25px;
}
#offline #company .showMore {
  width: 600px;
  height: 80px;
  margin: 0 auto;
  background-color: #18a8a8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#offline #company .showMore::before {
  content: "出展企業をもっと見る";
}
#offline #company .showMore::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/company_arrow.png");
  background-repeat: no-repeat;
  background-position: right 30px center;
  transform: scale(1, -1);
}
#offline #company .showMore span {
  display: none;
}
#offline #company.comingsoon .soon {
  display: block;
}
#offline #company.comingsoon .list {
  display: none;
}
#offline #company.comingsoon .showMore {
  display: none;
}
#offline #company.nomore .list {
  border: none;
}
#offline #company.nomore .list::after {
  display: none;
}
#offline #company.nomore .showMore {
  display: none;
}
#offline #company.expanded .showMore::before {
  content: "企業一覧を閉じる";
}
#offline #company.expanded .showMore::after {
  transform: scale(1, 1);
}
#offline #benefit .inner {
  padding-right: 420px;
  background-image: url("../images/benefit_giftcard.png");
  background-repeat: no-repeat;
  background-position: right top 185px;
}
#offline #benefit h3 {
  font-size: 26px;
  line-height: 1.38;
  font-weight: 700;
  margin-bottom: 32px;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #benefit ol {
  counter-reset: benefit 0;
  margin-bottom: 27px;
}
#offline #benefit ol li {
  position: relative;
  padding: 5px 0 5px 80px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  text-align: justify;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #benefit ol li::before {
  counter-increment: benefit 1;
  content: counter(benefit);
  position: absolute;
  left: 0;
  top: 0;
  background: #f96a26;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#offline #benefit .note {
  line-height: 1.7;
  padding-left: 80px;
}
#offline #point::before {
  content: "";
  position: absolute;
  left: 0;
  top: 59px;
  width: 100%;
  height: 850px;
  height: 83%;
  display: block;
  background-color: #bef4e7;
}
#offline #point ul li {
  display: flex;
  align-items: center;
  height: 260px;
  border: 1px solid #18a8a8;
  padding: 50px 420px 45px 140px;
  margin-bottom: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left top, right center;
  background-size: auto, auto 100%;
}
#offline #point ul li:nth-of-type(1) {
  background-image: url(../images/point_num_1.png), url("../images/point_ph_1.jpg");
}
#offline #point ul li:nth-of-type(2) {
  background-image: url(../images/point_num_2.png), url("../images/point_ph_5.jpg");
}
#offline #point ul li:nth-of-type(3) {
  background-image: url(../images/point_num_3.png), url("../images/point_ph_6.jpg");
}
#offline #point ul li h3 {
  font-size: 26px;
  line-height: 1.46;
  font-weight: 700;
  color: #009090;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #point ul li p {
  font-size: 15px;
  line-height: 1.73;
}
#offline #point ul li .note {
  font-size: 12px;
  margin-top: 1em;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.5;
}
#offline #participation .box {
  border: 1px solid #18a8a8;
  padding: 115px 50px 80px;
  margin-top: calc(-58px - 60px);
}
#offline #participation p {
  font-size: 15px;
  line-height: 1.73;
}
#offline #participation .note {
  font-size: 13px;
  margin-top: 0.5em;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.5;
}
#offline #participation .fig {
  margin-top: 50px;
}
#offline #video {
  margin-top: 80px;
}
#offline #video .inner {
  padding: 0 70px;
}
#offline #video h3 {
  color: #18a8a8;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #18a8a8;
  background-image: url("../img/pc/video_icon.png");
  background-repeat: no-repeat;
  background-position: left 50px bottom;
  padding-left: 130px;
  margin-bottom: 40px;
  min-height: 62px;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #video .youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background: #3e3e3e;
  /**/
}
#offline #video .youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#offline #outline table {
  width: 100%;
}
#offline #outline tr {
  border-top: 1px dotted #18a8a8;
}
#offline #outline tr:last-of-type {
  border-bottom: 1px dotted #18a8a8;
}
#offline #outline tr.fig {
  border-top: none;
}
#offline #outline tr.fig td {
  padding-top: 0;
  text-align: right;
}
#offline #outline th {
  color: #18a8a8;
  font-size: 18px;
  line-height: 24px;
  width: 140px;
  padding: 30px 0;
  vertical-align: middle;
}
#offline #outline td {
  font-size: 15px;
  line-height: 24px;
  padding: 30px 0;
  text-align: justify;
  vertical-align: middle;
}
#offline #faq {
  margin-bottom: 120px;
}
#offline #faq dl {
  counter-reset: faq 0;
}
#offline #faq dd,
#offline #faq dt {
  position: relative;
  padding: 0 0 0 80px;
  min-height: 66px;
  display: flex;
  align-items: center;
  text-align: justify;
}
#offline #faq dt {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #faq dd {
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 1.87;
}
#offline #faq dd::before,
#offline #faq dt::before {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}
#offline #faq dt::before {
  counter-increment: faq 1;
  content: "Q" counter(faq);
  background: #18a8a8;
}
#offline #faq dd::before {
  content: "A";
  background: #515151;
}
#offline #entry {
  margin-top: 80px;
  height: 180px;
  display: none;
}
#offline #entry .wrap {
  width: 100%;
  height: 180px;
  background-color: #18a8a8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#offline #entry .inner {
  margin: 0;
}
#offline #entry .entrybtn {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}
#offline #entry p {
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
}
#offline #entry p a {
  text-decoration: underline;
}
#offline #entry.fixed .wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 97;
}
@media screen and (min-width: 768px) {
  #offline #company .showMore {
    transition: opacity 0.2s;
    transition-timing-function: linear;
  }
  #offline #company .showMore:hover {
    opacity: 0.75;
  }
  #offline #entry .entrybtn::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 500px;
    height: 80px;
    display: block;
    border-radius: 40px;
    background-color: #fff;
    transition: opacity 0.2s;
    opacity: 0;
  }
  #offline #entry .entrybtn:hover::before {
    opacity: 0.25;
  }
  #offline #entry p a:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  #offline header .inner {
    height: calc(100 / 750 * 100vw);
    padding-left: calc(40 / 750 * 100vw);
  }
  #offline header img {
    width: calc(245 / 750 * 100vw);
  }
  #offline footer .inner {
    height: calc(100 / 750 * 100vw);
  }
  #offline footer p {
    font-size: calc(22 / 750 * 100vw);
  }
  #offline #lead {
    margin-top: calc(50/750*100vw);
  }
  #offline #lead p {
    padding: 0 calc(40/750*100vw);
    font-size: calc(26/750*100vw);
    line-height: 1.77;
    text-align: justify;
  }
  #offline #company h2 {
    margin-bottom: calc(60/750*100vw);
  }
  #offline #company .soon {
    font-size: calc(32/750*100vw);
  }
  #offline #company .list::after {
    bottom: calc(-31 / 750 * 100vw - 2px);
    height: calc(31 / 750 * 100vw);
    background-image: url("../img/sp/company_shadow.png");
  }
  #offline #company .update {
    font-size: calc(32/750*100vw);
    margin-bottom: calc(60 / 750 * 100vw);
  }
  #offline #company ul {
    margin-bottom: calc(60 / 750 * 100vw);
    margin-left: calc(-10 / 750 * 100vw);
    width: calc(100% + 10 / 750 * 100vw * 2);
  }
  #offline #company ul li {
    width: calc((100% - 10 / 750 * 100vw * 4) / 2);
    margin: 0 calc(10 / 750 * 100vw) calc(20 / 750 * 100vw);
  }
  #offline #company ul li .company_logo {
    padding-top: calc(166 / 322 * 100%);
  }
  #offline #company ul li .company_name {
    font-size: calc(26 / 750 * 100vw);
    line-height: 1.38;
    padding: calc(24 / 750 * 100vw) calc(30 / 750 * 100vw);
  }
  #offline #company table {
    margin-bottom: calc(60 / 750 * 100vw);
  }
  #offline #company th {
    font-size: calc(26 / 750 * 100vw);
    height: calc(80 / 750 * 100vw);
  }
  #offline #company td {
    font-size: calc(22 / 750 * 100vw);
    line-height: 1.55;
    padding: calc(30 / 750 * 100vw) calc(15 / 750 * 100vw);
  }
  #offline #company td:first-of-type {
    font-size: calc(26 / 750 * 100vw);
    line-height: 1.38;
    width: 50%;
    padding: calc(30 / 750 * 100vw) calc(15 / 750 * 100vw);
  }
  #offline #company .showMore {
    width: calc(100% - 40 * 2 / 750 * 100vw);
    height: calc(100 / 750 * 100vw);
    border-bottom-left-radius: calc(25 / 750 * 100vw);
    border-bottom-right-radius: calc(25 / 750 * 100vw);
    font-size: calc(32 / 750 * 100vw);
  }
  #offline #company .showMore::after {
    background-image: url("../img/sp/company_arrow.png");
    background-position: right calc(45 / 750 * 100vw) center;
    background-size: calc(26 / 750 * 100vw) auto;
  }
  #offline #benefit .inner {
    padding-right: 0;
    background-image: url("../img/sp/benefit_giftcard.png");
    background-position: left calc(145 / 750 * 100vw) top calc(645 / 750 * 100vw);
    background-size: calc(400 / 750 * 100vw) auto;
  }
  #offline #benefit h2 {
    margin-bottom: calc(50 / 750 * 100vw);
  }
  #offline #benefit h3 {
    font-size: calc(36 / 750 * 100vw);
    line-height: 1.5;
    margin-bottom: calc(45 / 750 * 100vw);
  }
  #offline #benefit ol {
    margin-bottom: calc(350 / 750 * 100vw);
  }
  #offline #benefit ol li {
    padding: 0 0 0 calc(90 / 750 * 100vw);
    margin-bottom: calc(28 / 750 * 100vw);
    font-size: calc(32 / 750 * 100vw);
    line-height: 1.38;
  }
  #offline #benefit ol li::before {
    top: calc(8 / 750 * 100vw);
    font-size: calc(30 / 750 * 100vw);
    width: calc(66 / 750 * 100vw);
    height: calc(66 / 750 * 100vw);
    border-radius: 50%;
  }
  #offline #benefit .note {
    font-size: calc(24 / 750 * 100vw);
    line-height: 1.7;
    padding-left: calc(90 / 750 * 100vw);
  }
  #offline #point h2 {
    height: calc(164 / 750 * 100vw);
  }
  #offline #point h2 img {
    width: auto;
    height: 100%;
  }
  #offline #point::before {
    top: calc(164 / 2 / 750 * 100vw);
    height: calc(2400 / 750 * 100vw);
    height: 87%;
  }
  #offline #point ul li {
    display: flex;
    align-items: center;
    height: auto;
    border: 1px solid #18a8a8;
    padding: calc(30 / 750 * 100vw) calc(40 / 750 * 100vw) calc((360 + 30) / 750 * 100vw) calc(90 / 750 * 100vw);
    margin-bottom: calc(40 / 750 * 100vw);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left top, center bottom;
    background-size: calc(170 / 750 * 100vw) auto, 100% auto;
  }
  #offline #point ul li:nth-of-type(1) {
    background-image: url(../img/sp/point_num_1.png), url("../img/sp/point_ph_1.jpg");
  }
  #offline #point ul li:nth-of-type(2) {
    background-image: url(../img/sp/point_num_2.png), url("../img/sp/point_ph_2.jpg");
  }
  #offline #point ul li:nth-of-type(3) {
    background-image: url(../img/sp/point_num_3.png), url("../img/sp/point_ph_3.jpg");
  }
  #offline #point ul li h3 {
    font-size: calc(38 / 750 * 100vw);
    line-height: 1.32;
    letter-spacing: 0;
    margin-bottom: calc(30 / 750 * 100vw);
    padding-left: calc(80 / 750 * 100vw);
    min-height: calc(100 / 750 * 100vw);
    display: flex;
    align-items: center;
  }
  #offline #point ul li p {
    font-size: calc(30 / 750 * 100vw);
    line-height: 1.6;
  }
  #offline #point ul li .note {
    font-size: calc(24 / 750 * 100vw);
    line-height: 1.5;
    margin-top: 0.75em;
  }
  #offline #participation h2 {
    height: calc(164 / 750 * 100vw);
  }
  #offline #participation h2 img {
    width: auto;
    height: 100%;
  }
  #offline #participation .box {
    padding: calc((164 / 2 + 60) / 750 * 100vw) calc(40 / 750 * 100vw) calc(60 / 750 * 100vw);
    margin-top: calc((-164 / 2 - 60) / 750 * 100vw);
  }
  #offline #participation p {
    font-size: calc(30 / 750 * 100vw);
    line-height: 1.6;
  }
  #offline #participation .note {
    font-size: calc(26 / 750 * 100vw);
    margin-top: 1em;
    line-height: 1.54;
  }
  #offline #participation .fig {
    margin-top: calc(30 / 750 * 100vw);
    width: 100%;
  }
  #offline #video {
    margin-top: calc(55 / 750 * 100vw);
  }
  #offline #video .inner {
    padding: 0;
  }
  #offline #video h3 {
    font-size: calc(34 / 750 * 100vw);
    line-height: 1.29;
    letter-spacing: 0;
    background-image: url("../img/sp/video_icon.png");
    background-position: left calc(15 / 750 * 100vw) bottom;
    background-size: calc(103 / 750 * 100vw) auto;
    padding-left: calc(140 / 750 * 100vw);
    padding-bottom: calc(10 / 750 * 100vw);
    margin-bottom: calc(40 / 750 * 100vw);
    min-height: calc(105 / 750 * 100vw + 2px);
  }
  #offline #outline h2 {
    margin-bottom: calc(45/750*100vw);
  }
  #offline #outline tr {
    border-top: 1px dotted #18a8a8;
  }
  #offline #outline tr:last-of-type {
    border-bottom: 1px dotted #18a8a8;
  }
  #offline #outline tr.fig {
    border-top: none;
  }
  #offline #outline tr.fig td {
    padding-top: 0;
    text-align: right;
  }
  #offline #outline tr.fig img {
    width: 100%;
  }
  #offline #outline th {
    font-size: calc(29/750*100vw);
    line-height: 1.52;
    width: calc(180/750*100vw);
    padding: calc(40/750*100vw) 0;
    vertical-align: top;
  }
  #offline #outline td {
    font-size: calc(29/750*100vw);
    line-height: 1.52;
    padding: calc(40/750*100vw) 0;
    vertical-align: top;
  }
  #offline #faq {
    margin-bottom: calc(130/750*100vw);
  }
  #offline #faq dd,
  #offline #faq dt {
    padding: 0 0 0 calc(120/750*100vw);
    min-height: calc(100/750*100vw);
  }
  #offline #faq dt {
    margin-bottom: calc(20/750*100vw);
    font-size: calc(34/750*100vw);
    line-height: 1.35;
  }
  #offline #faq dd {
    margin-bottom: calc(55/750*100vw);
    font-size: calc(28/750*100vw);
    line-height: 1.57;
  }
  #offline #faq dd::before,
  #offline #faq dt::before {
    font-size: calc(36/750*100vw);
    width: calc(100/750*100vw);
    height: calc(100/750*100vw);
    border-radius: 50%;
  }
  #offline #faq dd::before {
    top: calc(10/750*100vw);
  }
  #offline #entry {
    margin-top: calc(120 / 750 * 100vw);
    height: calc(320 / 750 * 100vw);
  }
  #offline #entry .wrap {
    width: 100vw;
    height: calc(320 / 750 * 100vw);
    margin-left: calc(-40 / 750 * 100vw);
  }
  #offline #entry .entrybtn {
    width: calc(698 / 750 * 100vw);
    height: calc(168 / 750 * 100vw);
    margin-bottom: calc(0 / 750 * 100vw);
    transform: translateX(calc(8 / 750 * 100vw));
  }
  #offline #entry .entrybtn img {
    width: 100%;
  }
  #offline #entry.fixed .wrap {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #offline .link__top {
    bottom: calc(90 / 750 * 100vw + 4vw);
  }
  #offline .link__top.upper {
    bottom: calc((90 + 100) / 750 * 100vw + 4vw);
  }
  #offline nav ul {
    transform: translateY(calc(-85 / 750 * 100vw));
  }
  #offline #entry {
    height: calc(90 / 750 * 100vw);
  }
  #offline #entry .wrap {
    height: calc(90 / 750 * 100vw);
    margin-left: calc(-40 / 750 * 100vw);
  }
  #offline #entry .inner {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
  }
  #offline #entry .entrybtn {
    width: calc(698 / 750 * 100vw / 2);
    height: calc(168 / 750 * 100vw / 2);
    transform: translate(0, calc(8 / 750 * 100vw / 2));
  }
  #offline #entry p {
    font-size: calc(16 / 750 * 100vw);
    text-align: left;
  }
}
@media all and (-ms-high-contrast: none) {
  #offline #point ul li h3 .pc {
    display: inherit !important;
  }
}
@media screen and (max-width: 767px) and (-ms-high-contrast: none) {
  #offline nav ul li {
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.17);
  }

  #offline #company ul li {
    width: calc((100% - 10 / 750 * 100vw * 4) / 2 - 1px);
  }
}
